@font-face {
    font-family: 'Roboto';
    font-variant: 500;
    src: url(/assets/roboto-font/RobotoMono-SemiBold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-variant: 400;
    src: url(/assets/roboto-font/Roboto-Regular.ttf);
}