body {
	display: flex;
	flex-flow: row nowrap;
	height: 31.25rem;
}

main {
	flex-flow: row nowrap;
}
.sidebar {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: var(--font-line-small-gap);
	margin-left: 2.19rem;
	margin-top: 1.63rem;
}

.overview_button {
	font-size: var(--font-size-large);
	font-family: 'Roboto Mono', monospace;
    font-weight: var(--font-weight-semibold);
	opacity: var(--font-opacity-half);
}

.overview_button:hover {
	opacity: 100;
}


.component {
	display: flex;
	flex-flow: column nowrap;
	gap: 2rem;
	margin-left: 10rem;
	margin-top: 2rem;
}

.component-state_name {
	font-size: var(--font-size-small);
	font-family: 'Roboto Mono', monospace;
    font-weight: var(--font-weight-regular);
}

.component-visible {
	display: flex;
}

.component-gone {
	display: none;
}
