
.component-switch-normal {
	display: flex;
	align-items: center;
	position: relative;
	width: 5.5rem;
	height: 2.5rem;
	background-color: var(--color-inactive);
	border-radius: 2.5rem;
}

.component-switch-normal-ball {
	position: absolute;
	left: 0.15rem;
	width: 2.25rem;
	height: 2.25rem;
	background-color: #FFF;
	border-radius: 2.5rem
}

.component-switch-hover {
	display: flex;
	align-items: center;
	position: relative;
	width: 5.5rem;
	height: 2.5rem;
	background-color: var(--color-hover-secondary);
	border-radius: 2.5rem;
}

.component-switch-active {
	display: flex;
	align-items: center;
	position: relative;
	width: 5.5rem;
	height: 2.5rem;
	background-color: var(--color-active);
	border-radius: 2.5rem;
	transform: rotate(180deg);
}

.component-switch-working {
	display: flex;
	align-items: center;
	position: relative;
	width: 5.5rem;
	height: 2.5rem;
	background-color: var(--color-inactive);
	border-radius: 2.5rem;
	padding: 0 0.15rem;	
}



.component-switch-working-ball {
	width: 2.25rem;
	height: 2.25rem;
	background-color: #FFF;
	border-radius: 100%;
}

.component-switch-working div {
	transition: all 450ms;
}

.component-switch-working:hover {
	background-color: var(--color-hover-secondary);
	cursor: pointer;
}

.component-switch-working input:checked + .component-switch-working-ball {
	transform: translate3d(131%, 0, 0);
}


.component-switch-working:has(input:checked){
	background-color: var(--color-active);
	transition: all 500ms ease;
}