
.input-tabs {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.tablinks {
	display: flex;
	flex-flow: row nowrap;
	width: 26rem;
	background-color: var(--color-normal);
	padding: 1.38rem 10rem;
	font-size: var(--font-size-large);
	font-weight: var(--weight-regular);
	color: #fff;
}

.tab1 {
	border-radius: 3.13rem 0 0 3.13rem;
	background-color: var(--color-normal);
}

.tab2 {
	border-radius: 0 3.13rem 3.13rem 0;
}

.tab-active {
	background-color: var(--color-active);
}

.tab-normal {
	background-color: var(--color-normal);
}