.toast {
	font-size: var(--font-size-medium);
	font-family: 'Roboto Mono', monospace;
    font-weight: var(--font-weight-regular);
	padding: 0.56rem 0.3rem;
	border-radius: 0.63rem;
	width: 33rem;
	text-align: center;
}
.toast-normal {
	background-color: var(--color-normal);
}

.toast-warning {
	background-color: var(--color-warning);
}

.toast-error {
	background-color: var(--color-error);
}

.toasts-container {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.fade-in-out {
	animation: fadein 700ms, fadeout 700ms 2.5s;
}

@keyframes fadein {
	from {bottom: -3rem; opacity: 0;}
	to {bottom: 1rem; opacity: 1;}
}

@keyframes fadeout {
	from {bottom: 1rem; opacity: 1;}
	to {bottom: -3rem; opacity: 0;}
}
.toast-buttons {
	margin-top: 7rem;
	display: flex;
	width: 33rem;
	justify-content: space-between;
}

.toast-button {
	display: flex;
	padding: 1.25rem 1.69rem;
	border: 1px solid black;
	font-size: var(--font-size-small);
	text-align: center;
}

.toast-button:hover {
	cursor: pointer;
	background-color: #F5F1ED;
}

